aclocal.m4
ast.o
autom4te.cache/
compile
config.h
config.in
config.in~
config.log
config.status
configure
depcomp
.deps/
driver.o
install-sh
Makefile
Makefile.in
missing
parser.c
parser.h
parser.o
parser.plist
runtime.o
scanner.c
scanner.h
scanner.o
scanner.plist
stamp-h1
tcb
tcb*.tar.gz
test-driver
test-suite.log
testsuite/*.out
testsuite/*.log
testsuite/*.trs
ylwrap
