*.o
aclocal.m4
autom4te.cache/
compile
config.h
config.in
config.in~
config.log
config.status
configure
depcomp
.deps/
install-sh
Makefile
Makefile.in
missing
parser.c
parser.h
parser.plist
scanner.c
scanner.h
scanner.plist
stamp-h1
tcbasic
tcbasic*.tar.gz
test-driver
test-suite.log
*.out
*.log
*.trs
ylwrap
